langchain
openai
transformers
sentencepiece
accelarate
bitsandbytes
python-dotenv
ollama
langchain-ollama
langchain-google-genai
pandas
nlt
unstructured
wikipedia
chromadb
pypdf
pdfminer.six
langchain-community
nltk
tiktoken
unstructured
langchain-cohere
faiss-cpu
langchain-chroma
